<div class="container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidebar (sidenavClose)="sidenav.close()"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="top">
        <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
        <div class="main">
          <app-main></app-main>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="bottom">
    <app-footer></app-footer>
  </div>
</div>
